*{
  margin: 0;
  padding: 0;
  font-family: 'Bangers';
}

@font-face {
  font-family:'Raleway' ;
  src: url(../assets/fonts/Bangers.ttf);
}

#contact {
    padding: 60px 50px;
  }

.bg-grey {
    background-color: #f6f6f6;
  }

#services {
    padding: 60px 50px;
}

nav{
  background-color: rgb(224, 0, 0, .3);
}

.navbar-nav a:hover {
  transform: scale(1.2);
  font-weight: bold;
}

#mainTitle {
  text-align: center;
  margin: 5%;
  animation-name: slidein;
  animation-duration: 3s;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px #000000;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.prods img {
  filter: blur(0);
  animation-name: imgBlur;
  animation-duration: 3s;
}

@keyframes imgBlur {
  from {filter: blur(4px);}
  to {filter: blur(0);}
}

.prods img:hover {
  border-radius: 15px;
  transition: 1s;
  cursor: pointer;
  transform: scale(1.2);
  outline: solid 2px black;
}

hr.solid {
  border-top: 1px solid rgb(161, 161, 161);
}
 
hr {
  margin: 10px;
}

